<!--/*@thymesVar id="customer" type="java.lang.String"*/-->
<!--/*@thymesVar id="price" type="java.lang.Double"*/-->
<!--/*@thymesVar id="eventName" type="java.lang.String"*/-->
<!--/*@thymesVar id="additionalData" type="java.util.Map"*/-->
<!--/*@thymesVar id="entry" type="java.util.Map.Entry"*/-->
<p>
    Dag <span th:text="${customer}"></span>,
</p>
<p>
    We hebben de betaling (€ <span th:text="${#numbers.formatDecimal(price, 2, 2)}"></span>) goed ontvangen,
    dus hierbij bevestigen we jouw registratie voor <span th:text="${eventName}"></span>.
</p>
<p th:if="${additionalData}">
    Hieronder een overzicht van de ontvangen gegevens:
    <ul>
        <li th:each="entry : ${additionalData}" th:text="${entry.key + ': ' + entry.value}"></li>
    </ul>
</p>
<p>
    Stevige linker,<br/>
    De leiding
</p>