<p>
    Dag ${member.first.name},
</p>
<p>
    Ondertussen is jouw lidnummer aangemaakt en kan je jouw gegevens verder aanvullen
    op de <a href="https://groepsadmin.scoutsengidsenvlaanderen.be" target="_blank">Groepsadministratie</a>,
    dit is een centrale ledendatabase van onze koepel Scouts &amp; Gidsen Vlaanderen.
    Je kan een account aanmaken met jouw lidnummer (${member.id}) en de gegevens die je eerder doorgaf in het formulier.
    Hierna kan je inloggen en jouw profiel verder aanvullen (contactgegevens van de ouder(s) en medische fiche).
</p>
<p>
    Stevige linker,<br/>
    De leiding
</p>