<p>
    Dag ${member.first.name},
</p>
<p>
    We hebben jouw lidgeld voor dit werkingsjaar niet tijdig ontvangen en hebben jou bijgevolg uitgeschreven.
    Dit wil zeggen dat je niet meer verzekerd bent en dat je geen communicatie meer van ons
    of Scouts & Gidsen Vlaanderen zal ontvangen.
</p>
<p>
    Wil je je toch nog opnieuw aansluiten, dan kan dit altijd door op onze website in te loggen
    en naar <a th:href="${membership.overview.url}" target='_blank'>Mijn lidmaatschap</a>
    te gaan. Onderaan deze pagina vind je een knop 'Schrijf me in' die je bij de betaalpagina brengt.
    Hierna ontvang je nog een bevestigingsmail.
</p>
<p>
    Ben je van mening dat er iets fout is gelopen, of heb je nog vragen, contacteer ons dan zeker!
</p>
<p>Stevige linker,<br/>
    De leiding</p>